/*----------- FOR SHORT INPUTS ----------*/
.twoShortInputsContainer {
  display: flex;
}

.leftShortInputs {
  display: flex;
}

.leftShortInputs input {
  margin-right: 10px;
}

.rightShortInput {
  width: 200px !important;
}
/*------------------------------------*/

.form {
  width: 30em;
  max-width: 400px;
  padding: 15px;
  z-index: 1000;
}

.hide-form {
  display: none;
}

.input-control {
  border: 1px solid hsl(270, 3%, 87%);
  margin-top: 7px;
  width: 100%;
  height: 40px;
  border-radius: 7px;
  font-weight: bold;
  color: hsl(278, 68%, 11%);
  font-size: 1.2em;
  padding-left: 10px;
}

.invalid-input-control {
  border: 1px solid red;
  margin-top: 7px;
  width: 100%;
  height: 40px;
  border-radius: 7px;
  font-weight: bold;
  color: hsl(278, 68%, 11%);
  font-size: 1.2em;
  padding-left: 10px;
}

.error-msg-control {
  color: red;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.8em;
  opacity: 0;
}

.invalid-error-msg {
  color: red;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 0.8em;
  opacity: 1 !important;
}

.showSuccesMsg {
  display: block;
  z-index: 100;
}

.hideSuccesMsg {
  display: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: hsl(270, 3%, 87%);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: hsl(270, 3%, 87%);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: hsl(270, 3%, 87%);
  font-size: 1.2em;
}

.form-label {
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  letter-spacing: 2px;
  font-size: 0.8em;
  font-weight: 500;
}

.form-btn {
  border: none;
  height: 50px;
  width: 100%;
  border-radius: 7px;
  cursor: pointer;
  background: hsl(278, 68%, 11%);
  color: white;
  font-size: 1.2em;
}

.form-btn:hover,
.form-btn:active {
  background: hsl(278, 67%, 32%);
}

input:focus {
  outline: aqua;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: 3px solid hsl(279, 6%, 55%);
}

/*************** for responsivity ********************/
@media screen and (max-width: 480px) {
  .form {
    width: 100vw;
  }
}

@media screen and (max-width: 915px) {
  .form {
    margin-top: 18em;
  }
}
